body, html {
    margin: 0;
    padding: 0;
    font-family: 'Comissioner';
    background: #fef5ff;
}

.Login {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        to right,
        #F7E9FF 0%,
        #F7E9FF 60%, 
        #fef5ff 60%,
        #fef5ff 100%
    );    
}
.NUSchedulers {
    position: absolute;
    top: 8%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family: 'Chewy'; font-size: 22px;
}

.sub {
    position: absolute;
    top: 15%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-family: 'Chewy'; font-size: 12px;
}

.Home {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        to right,
        #fef5ff 0%,
        #fef5ff 70%, 
        #F7E9FF 70%,
        #F7E9FF 100%
    );    
}
.Header {
    position: absolute;
    top: 8%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant'; font-size: 22px;
    color: #4F24C9;
}

.Modules-home {
    position: absolute;
    top: 10%;
    left: 5%;
    font-family: 'Cormorant'; font-size: 12px;
}

.Tasks {
    position: absolute;
    top: 15%;
    left: 84%;
    transform: translate(-50%, -50%);
    font-family: 'Courgette'; font-size: 22px;
    color: #BC53FC;
}

.today {
    position: absolute;
    top: 26%;
    left: 77%;
    transform: translate(-50%, -50%);
    font-family: 'Courgette'; font-size: 14px;
    color: black;
}

.tomorrow {
    position: absolute;
    top: 40%;
    left: 78%;
    transform: translate(-50%, -50%);
    font-family: 'Courgette'; font-size: 14px;
    color: black;
}

.editTimetable {
    position: absolute;
    top: 87%;
    left: 14%;
    transform: translate(-50%, -50%);
    color: black;
}
.editTimetable button {
    background: #06ffd2;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.editTimetable button:active {
    transform: scale(0.95);
}

.generateTimetable {
    position: absolute;
    top: 87%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: black;
}
.generateTimetable button {
    background: #06f0ff;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.generateTimetable button:active {
    transform: scale(0.95);
  }

.about {
    position: absolute;
    top: 28%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 18px;
}

.feature1 {
    position: absolute;
    top: 45%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 18px;
}

.feature2 {
    position: absolute;
    top: 45%;
    left: 43%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 18px;
}

.feature3 {
    position: absolute;
    top: 70%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 18px;
}


.loginPage {
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Chewy'; font-size: 22px;
}
.login{
    font-family: 'Commissioner'; font-size: 22px;;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.login input[type="username"], input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: #f6f6f6;
    outline: black;
    height: 50px;
    width: 200px;
}

.login input[type="submit"] {
    background: #06ffd2;
    height: 60px;
    width: 240px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.login input[type="submit"]:active {
    transform: scale(0.95);
}

.login a {
    color: #9DA3A2;
    border-bottom: transparent;
    outline: transparent;
    font-size: 15px;
}

.login button {
    background: #06f0ff;
    height: 60px;
    width: 240px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.login button:active {
    transform: scale(0.95);
  }

.notNew {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: 'Courgette' ; font-size: 30px;
    color:black
}

.member {
    position: absolute;
    top: 55%;
    left: 23%;
}

.createAccount {
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Chewy'; font-size: 22px;
}

.create{
    font-family: 'Commissioner'; font-size: 22px;;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.create input[type="username"], input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: #f6f6f6;
    outline: black;
    height: 50px;
    width: 200px;
}

.create input[type="submit"] {
    background: #06f0ff;
    height: 60px;
    width: 240px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.create input[type="submit"]:active {
    transform: scale(0.95);
}

.create a {
    color: #9DA3A2;
    border-bottom: transparent;
    outline: transparent;
    font-size: 15px;
}

.create button {
    background: #06ffd2;
    height: 60px;
    width: 240px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.create button:active {
    transform: scale(0.95);
  }

.Generate {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}

.Modules {
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}

.select {
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}

.selected-modules {
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}

.search-bar {
    width: 300px; /* Adjust the width as needed */
    font-size: 16px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Adjust the margin bottom as needed */
}
  
.search-bar__control {
    height: 40px !important; /* Adjust the height as needed */
}
  
.search-bar__single-value {
    font-size: 16px !important; /* Adjust the font size as needed */
}

.first {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: 'Courgette'; font-size: 22px;
    color: black;
}

.second {
    position: absolute;
    top: 57%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: 'Courgette'; font-size: 22px;
    color: black;
}

.tasks {
    position: absolute;
    top: 23%;
    left: 76%;
}

.addTasks {
    border: 1px solid black;
    background: #f6f6f6;
    outline: black;
    height: 30px;
    width: 150px;
}

.addTask {
    border: none;
    background:paleturquoise;
    height: 33px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.addTask:active {
    transform: scale(0.95);
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: black;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    background: paleturquoise;
  }


  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
  }
  .icons:active {
    transform: scale(0.95);
}
  
  

.advanced {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: black;
}
.advanced button {
    background: #06f0ff;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.advanced button:active {
    transform: scale(0.95);
  }

.generate {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: black;
}
.generate button {
    background: #06ffd2;
    height: 60px;
    width: 250px;
    border-radius: 25px;
    font-size: 23px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.generate button:active {
    transform: scale(0.95);
  }

.Filter {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant'; font-size: 22px;
    color: black;
}

.Days {
    position: absolute;
    top: 25%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}
.selectDays {
    position: absolute;
    z-index: 10;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}

.Lessons {
    position: absolute;
    top: 40%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}
.selectLessons {
    position: absolute;
    z-index: 8;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}

.Start {
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}
.selectStart {
    position: absolute;
    z-index: 6;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}

.End {
    position: absolute;
    top: 55%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}
.selectEnd {
    position: absolute;
    z-index: 4;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Comissioner'; font-size: 22px;
    color: black;
}

.save {
    position: absolute;
    top: 85%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: black;
}
.save button {
    background: #06ffd2;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.save button:active {
    transform: scale(0.95);
  }

.Edit {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cormorant'; font-size: 22px;
    color: black;
}

.cancel {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: black;
}
.cancel button {
    background: rgb(243, 35, 35);
    height: 50px;
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.cancel button:active {
    transform: scale(0.95);
  }

.saveTimetable {
    position: absolute;
    top: 87%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: black;
}
.saveTimetable button {
    background: #06ffd2;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.saveTimetable button:active {
    transform: scale(0.95);
  }

.cancelTimetable {
    position: absolute;
    top: 87%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: black;
}
.cancelTimetable button {
    background: red;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}
.cancelTimetable button:active {
    transform: scale(0.95);
  }

  .timetable-edit {
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .timetable-edit p {
    font-size: 14px; /* Reduce the font size */
  }

 .timetable {
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
  }
  table {
    width: 100%;
    max-width: 700px; /* Adjust the maximum width as needed */
    border-collapse: collapse;
    font-size: 11px; /* Adjust the font size as needed */
  }

